{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% macro page_footer(
  button_text=None,
  button_name=None,
  button_value=None,
  button_text_hidden_suffix=None,
  destructive=False,
  secondary_link=False,
  secondary_link_text=None,
  secondary_link_destructive=False,
  secondary_link_button=False,
  secondary_link_button_name="secondary",
  delete_link=False,
  delete_link_text="delete",
  centered_button=False,
  button_url=None,
  search=False,
  classes="",
  button_attributes={}
) %}
  <div class="page-footer govuk-button-group {{ classes }}">
    {% if button_text %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      {% set button_data = {"text": button_text, "classes": "page-footer__button"} %}
      {% if destructive %}{% set _ = button_data.update({"classes": "govuk-button--warning page-footer__button"}) %}{% endif %}
      {% if centered_button %}{% set _ = button_data.update({"classes": "page-footer__button--centred"}) %}{% endif %}
      {% if search %}{% set _ = button_data.update({"classes": "govuk-button--secondary"}) %}{% endif %}
      {% if button_url %}
        {% set _ = button_data.update({
          "classes": "govuk-button--secondary",
          "href": button_url }) %}
      {% endif %}
      {% if button_name %}{% set _ = button_data.update({"name": button_name}) %}{% endif %}
      {% if button_value %}{% set _ = button_data.update({"value": button_value}) %}{% endif %}
      {% if button_text_hidden_suffix %}
        {% set html %}
          {{ button_text }}<span class="govuk-visually-hidden"> {{button_text_hidden_suffix}}</span>
        {% endset %}
        {% set _ = button_data.update({
          "text": "",
          "html": html
        }) %}
      {% endif %}

      {% set _ = button_data.update({"attributes": button_attributes}) %}
      {{ govukButton(button_data) }}

    {% endif %}
    {% if delete_link %}
      <span class="page-footer-link {% if not button_text %}page-footer-delete-link-without-button{% endif %}">
        <a class="govuk-link govuk-link--destructive" href="{{ delete_link }}">{{ delete_link_text }}</a>
      </span>
    {% endif %}
    {% if (secondary_link or secondary_link_button) and secondary_link_text %}
      {% if secondary_link_button %}
        <button class="govuk-button {% if secondary_link_destructive %}govuk-button--warning{% else %}govuk-button--secondary{% endif %} page-footer-secondary-link" name="{{ secondary_link_button_name }}">{{ secondary_link_text }}</button>
      {% else%}
        <a class="govuk-link govuk-link--no-visited-state {% if secondary_link_destructive %}govuk-link--destructive{% endif %} page-footer-secondary-link" href="{{ secondary_link }}">{{ secondary_link_text }}</a>
      {% endif %}
    {% endif %}

  </div>
{% endmacro %}

{% macro sticky_page_footer(button_text=None, button_name=None) %}
  <div class="js-stick-at-bottom-when-scrolling">
    {{ page_footer(button_text, button_name) }}
  </div>
{% endmacro %}
