// Overrides for certain GOV.UK Frontend styles to make its components match this application's design

$notify-secondary-button-colour: govuk-shade(govuk-colour("light-grey"), 7%);
$notify-secondary-button-hover-colour: govuk-shade(govuk-colour("light-grey"), 18%);

// Additional padding-bottom override, following the GOV.UK Frontend spacing scale:
// https://design-system.service.gov.uk/styles/spacing/#the-responsive-spacing-scale
.govuk-\!-padding-bottom-12 {
  padding-bottom: 70px;

  @include govuk-media-query($from: tablet) {
    padding-bottom: 90px;
  }
}

.govuk-header {

  &__logo {
    width: auto;
    padding-right: 5px;
  }

  &__content {
    width: auto;
    float: right;
  }

}

.govuk-notification-banner {
  margin-top: 15px;
  margin-bottom: 15px;
}

// Make column headings smaller to prevent wrapping
.govuk-footer__heading {
  @include govuk-font($size: 19, $weight: bold);
}

.govuk-button {
  margin-bottom: 0px;
}

// Allow legends that contain the h1 to go full width
.govuk-fieldset__legend.govuk-grid-column-full {
  @include govuk-grid-column(full);
}

.govuk-button--secondary {
  background-color: $notify-secondary-button-colour;

  &:hover {
    background-color: $notify-secondary-button-hover-colour;
  }
}

@mixin govuk-tag-uppercase {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  font-weight: 700;
  outline: 2px solid transparent;
  outline-offset: -2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  line-height: 1;
}

.govuk-tag.broadcast-tag {
  background-color: govuk-colour("red");
}

.govuk-tag.draft-tag {
  background-color: govuk-colour("blue");
}

.govuk-tag.elevated-tag {
  background-color: govuk-colour("green");
}

.govuk-tabs {
  overflow-wrap: break-word;
}

.govuk-summary-list__actions, .govuk-summary-list__key {
  vertical-align: top;
}
