{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Accessibility statement
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Accessibility statement</h1>

  <p class="govuk-body">
    This accessibility statement applies to the GOV.UK Emergency Alerts service, <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.index')}}">https://admin.emergency-alerts.service.gov.uk</a>.
  </p>

  <p class="govuk-body">
    The Emergency Alerts service is run by the GOV.UK Emergency Alerts team at the Government Digital Service (GDS). It’s designed to be accessible by as many people as possible. You should be able to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>

  <p class="govuk-body">
    The text should be clear and simple to understand.
  </p>

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.
  </p>

  <h2 class="heading-medium" id="how-accessible-this-website-is">How accessible this website is</h2>

  <p class="govuk-body">
    Parts of this website are not fully accessible:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>validation errors may be confusing for screen reader users</li>
    <li>the ‘copy to clipboard’ button does not work with some screen readers</li>
    <li>if a team adds template folders, screen readers may announce the page heading in a confusing way</li>
    <li>Windows users cannot view our icons in high contrast mode</li>
    <li>screen reader users may find it hard to expand or collapse groups of checkboxes</li>
  </ul>

  <h2 class="heading-medium" id="feedback-and-contact-information">Feedback and contact information</h2>

  <p class="govuk-body">
    If you need any part of this service in a different format such as large print, audio recording or braille, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='ask-question-give-feedback') }}">contact the GDS Emergency Alerts team</a>. We’ll consider your request and get back to you within 3 working days.
  </p>

  <h2 class="heading-medium" id="reporting-accessibility-problems">Reporting accessibility problems with this website</h2>

  <p class="govuk-body">
    We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='ask-question-give-feedback') }}">contact the GDS Emergency Alerts team</a>.
  </p>

  <h2 class="heading-medium" id="enforcement-procedure">Enforcement procedure</h2>

  <p class="govuk-body">
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 </a>.
  </p>

  <p class="govuk-body">
    If you're not happy with how we respond to your complaint <a class="govuk-link govuk-link--no-visited-state" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
  </p>

  <h2 class="heading-medium" id="technical-information">Technical information about accessibility of this website</h2>

  <p class="govuk-body">
    GDS is committed to making its website accessible in accordance with the <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 </a>.
  </p>

  <p class="govuk-body">
    GOV.UK Emergency Alerts is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard.
  </p>

  <h2 class="heading-medium" id="non-accessible-content">Non-accessible content</h2>

  <p class="govuk-body">
    The content listed below is non-accessible for the following reasons.
  </p>

  <h3 class="heading-small" id="non-compliance">Non-compliance with the WCAG version 2.1 AA standard</h3>

  <ol class="govuk-list govuk-list--number">
    <li>
      Some icons do not appear when using high contrast mode on Windows. This fails <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html">success criterion 1.4.8: visual presentation</a>. We plan to fix this in the future.
    </li>
  </ol>

  <h3 class="heading-small" id="problems-with-using-the-interface">Problems with using the interface</h3>

  <ol class="govuk-list govuk-list--number">
    <li>
      Our validation errors cause problems for screen readers. This means it can be hard to know when an error has occurred or what to do next. We have fixed the majority of these issues. We are planning to fix the remaining validation errors in the immediate future.
    </li>
    <li>
      The JAWS screen reader announces template folder page headings as multiple sentences. We are investigating this issue and plan to fix it in the future.
    </li>
    <li>
      Expanding and collapsing groups of checkboxes using a screen reader can be confusing. We plan to fix this by December 2023.
    </li>
  </ol>

  <h2 class="heading-medium" id="how-we-tested-this-service">
    How we tested this service
  </h2>

  <p class="govuk-body">
    In May 2022, the Digital Accessibility Centre (DAC) conducted an audit of parts of the website used to author and manage alerts. The service was tested again by DAC in June 2023, including an audit of the alerts that are sent out and the web pages users see when they send an alert.
  </p>

  <p class="govuk-body">
    The test was based on the most common tasks that GOV.UK Emergency Alerts users need to complete. This included testing a sample of pages with common user interface components from multiple user roles including Author, Approver and Platform Administrator.
  </p>

  <h2 class="heading-medium" id="improving-accessibility">
    What we’re doing to improve accessibility
  </h2>

  <p class="govuk-body">
    Following the audit conducted by DAC in June 2023, we have identified content which fails to meet the Web Content Accessibility Guidelines version 2.1 AA standard. We plan to fix these issues in the future.
  </p>

  <h2 class="heading-medium" id="accessibility-statement-preparation">
    Preparation of this accessibility statement
  </h2>

  <p class="govuk-body">
    This statement was published on 13 July 2023. It was last reviewed on 6 July 2023. It will be reviewed again on 13 August 2023.
  </p>

{% endblock %}
