{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/password-input/macro.html" import govukPasswordInput %}

{% block per_page_title %}
  Create a new password
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if user %}
      <h1 class="heading-large">
        Create a new password
      </h1>
      <p class="govuk-body">
        You can now create a new password for your account.
      </p>
      {% call form_wrapper() %}
        {{ govukPasswordInput({
          "label": {
            "text": "Password"
          },
          "hint": {
            "text": "Choose at least 3 random, unrelated words of at least 5 letters each"
          },
          "id": form.password.id,
          "value": form.password.data,
          "name": form.password.name,
          "classes": "govuk-!-width-two-thirds govuk-!-margin-right-1",
          "autocomplete": "new-password",
          "errorMessage": {
                "text" : form.password.errors[0] | safe
          } if form.password.errors[0] else None,
        }) }}
        {{ page_footer("Continue", button_name="continue") }}
      {% endcall %}
    {% else %}
      <p class="govuk-body">
        Message about email address does not exist. Some one needs to figure out the words here.
      </p>
    {% endif %}
  </div>
</div>

{% endblock %}
