{% extends "withoutnav_template.html" %}
{% from "components/content-metadata.html" import content_metadata %}

{% block per_page_title %}
  Emergency Alerts administrators privacy notice
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Emergency Alerts administrators privacy notice</h1>

    {{ content_metadata(
      data={
        "Last updated": "01 June 2023"
      }
    ) }}

    <h2 class="heading-medium" id="who-we-are">
      Who we are
    </h2>
    <p class="govuk-body">
      GOV.UK Emergency Alerts is a service that lets public service teams in the UK send alerts if there’s a danger to life. GOV.UK Emergency Alerts is processed by the Government Digital Service (GDS) which is part of the Cabinet Office.
    </p>
    <p class="govuk-body">
      This privacy notice explains how we process the data of public service teams who are likely to create emergency alerts. These administrators include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>watchkeepers</li>
      <li>civil contingencies teams</li>
      <li>duty directors of departments</li>
      <li>Environment Agency</li>
      <li>Local Resilience Forums linked to multi-agencies</li>
      <li>local authorities</li>
    </ul>
    <p class="govuk-body">
      The administrators sending alerts using GOV.UK Emergency Alerts are the data controller and Cabinet Office is the data processor.
    </p>
    <p class="govuk-body">
      For the administration of credentials used to access GOV.UK Emergency Alerts, Cabinet Office is the data controller.
    </p>
    <p class="govuk-body">
      For the administration of GOV.UK Emergency Alerts, Government Digital Service is the data processor.
    </p>
    <p class="govuk-body">
      The mobile network providers supporting GOV.UK Emergency Alerts are processors of the administrators data.
    </p>
    <p class="govuk-body">
      For more information see the Information Commissioner’s Office (ICO) <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/esdwebpages/search">Data Protection Public Register</a>. The Cabinet Office registration number is: Z7414053.
    </p>

    <h2 class="heading-medium" id="what-data-we-collect-from-you">
      What data we collect from you
    </h2>
    <p class="govuk-body">
      The personal data we collect from you when your GOV.UK Emergency Alerts account is created, includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name</li>
      <li>your business email address</li>
      <li>your employer</li>
      <li>your business mobile phone number</li>
      <li>the IP address you use to access GOV.UK Emergency Alerts</li>
      <li>logs of your activity on the system</li>
    </ul>
    <p class="govuk-body">
      The legal basis for processing this data is ‘public task’ - allowing administrators to access GOV.UK Emergency Alerts to send alerts to the public.
    </p>

    <h2 class="heading-medium" id="why-we-need-your-data">
      Why we need your data
    </h2>
    <p class="govuk-body">
      We need your personal data to check you’re an authorised user of GOV.UK Emergency Alerts.
    </p>

    <h2 class="heading-medium" id="what-we-do-with-your-data">
      What we do with your data
    </h2>
    <p class="govuk-body">
      We use your data to check you’re allowed to access this service and to record your activity when using it. We also support you if you experience technical issues with the service. We use third party technical suppliers to do this and may share your data with them.
    </p>

    <h2 class="heading-medium" id="how-long-we-keep-your-data">
      How long we keep your data
    </h2>
    <p class="govuk-body">
      We’ll keep your personal data for as long as you have a GOV.UK  Emergency Alerts account.
    </p>
    <p class="govuk-body">
      When you ask us to close your account, we will delete your data  within one year.
    </p>
    <p class="govuk-body">
      When we close your account we’ll delete your:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>mobile phone number</li>
        <li>GOV.UK Emergency Alerts password</li>
    </ul>
    <p class="govuk-body">
      We’ll keep your email address and IP addresses for one year for  security audits and to log administrators’ activity.
    </p>

    <h2 class="heading-medium" id="where-your-data-is-processed">
      Where your data is processed and stored
    </h2>
    <p class="govuk-body">
      We design, build and run our systems to make sure your data is safe while it’s being processed and when it’s stored.
    </p>
    <p class="govuk-body">
      Your personal data is processed in the UK. If our IT systems process data outside the UK, this is safeguarded through <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/for-organisations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/adequacy/">adequacy decisions</a>.
    </p>

    <h2 class="heading-medium" id="how-we-protect-your-data">
      How we protect your data and keep it secure
    </h2>
    <p class="govuk-body">
      We are committed to keeping your data secure. To prevent unauthorised access or disclosure we have technical and organisational procedures to secure the data we collect about you. For example, we protect your data using encryption. We also make sure any third parties that process your personal data on our behalf, keep it secure.
    </p>

    <h2 class="heading-medium" id="your-rights">
      What are your rights
    </h2>
    <p class="govuk-body">
      You have the right to request:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>information about how your personal data is processed</li>
      <li>a copy of your personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
      <li>that anything inaccurate in your personal data is corrected immediately</li>
    </ul>
    <p class="govuk-body">
      You can also:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>raise an objection about how your personal data is processed</li>
      <li>request that your personal data is deleted if there is no longer a reason to keep it</li>
      <li>ask that the processing of your personal data is restricted in certain circumstances</li>
    </ul>
    <p class="govuk-body">
      If you have any of these requests, please contact the Cabinet Office Privacy Team.
    </p>
    <p class="govuk-body">
      Cabinet Office Privacy Team<br>
      <a class="govuk-link govuk-link--no-visited-state" href="mailto:subject.access@cabinetoffice.gov.uk">subject.access@cabinetoffice.gov.uk</a>
    </p>

    <h2 class="heading-medium" id="changes-to-this-notice">
      Changes to this notice
    </h2>
    <p class="govuk-body">
      We may update this privacy notice at any time. When we make changes to this notice, we will amend the last updated date at the top of this page. Any update to this privacy notice will be applied to you and your data as of that revision date. We encourage you to check this privacy notice to see if updates have been made.
    </p>

    <h2 class="heading-medium" id="questions-and-complaints">
      Questions and complaints
    </h2>
    <p class="govuk-body">
      Contact the Cabinet Office Privacy Team if you either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have questions about anything in this privacy notice</li>
      <li>think that your personal data has been misused or mishandled</li>
    </ul>
    <p class="govuk-body">
      Cabinet Office Privacy Team<br>
      <a class="govuk-link govuk-link--no-visited-state" href="mailto:dataprivacy@cabinetoffice.gov.uk">dataprivacy@cabinetoffice.gov.uk</a>
    </p>
    <p class="govuk-body">
      You can also contact the Cabinet Office Data Protection Officer.
    </p>
    <p class="govuk-body">
      Cabinet Office Data Protection Officer<br>
      <a class="govuk-link govuk-link--no-visited-state" href="mailto:DPO@cabinetoffice.gov.ukk">DPO@cabinetoffice.gov.uk</a>
    </p>
    <p class="govuk-body">
      The Data Protection Officer provides independent advice and monitoring of Cabinet Office’s use of personal information.
    </p>
    <p class="govuk-body">
      If you have a complaint, you can also contact the <a class="govuk-link govuk-link--no-visited-state" href="https://ico.org.uk/">Information Commissioner's Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.
    </p>
    <p class="govuk-body">
      Information Commissioner’s Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF
    </p>
    <p class="govuk-body">
      Email: <a class="govuk-link govuk-link--no-visited-state" href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a><br>
      Telephone: 0303 123 1113<br>
      Textphone: 01625 545860<br>
      Monday to Friday, 9am to 4:30pm<br>
      <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>
  </div>
</div>

{% endblock %}
