{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/password-input/macro.html" import govukPasswordInput %}

{% block per_page_title %}
Create an account
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Create an account</h1>
    <p class="govuk-body">Your account will be created with this email: {{invited_org_user.email_address}}</p>
    {% call form_wrapper() %}
      {{ form.name(param_extensions={"classes": "govuk-!-width-three-quarters"}) }}
      <div class="extra-tracking">
        {{ form.mobile_number(param_extensions={
            "classes": "govuk-!-width-three-quarters",
            "hint": {"text": "We’ll send you a security code by text message"}
        }) }}
      </div>
      {{ govukPasswordInput({
        "label": {
          "text": "Password"
        },
        "hint": {
          "text": "Choose at least 3 random, unrelated words of at least 5 letters each"
        },
        "id": form.password.id,
        "value": form.password.data,
        "name": form.password.name,
        "classes": "govuk-!-width-two-thirds govuk-!-margin-right-1",
        "autocomplete": "new-password",
        "errorMessage": {
              "text" : form.password.errors[0] | safe
        } if form.password.errors[0] else None,
      }) }}
      {{ page_footer("Continue", button_name="continue") }}
      {{form.organisation}}
      {{form.email_address}}
    {% endcall %}
  </div>
</div>

{% endblock %}
