{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/table.html" import mapping_table, row, settings_row, text_field, optional_text_field, edit_field, field, boolean_field with context %}
{% from "service_navigation.html" import broadcast_service_name_tag %}

{% block service_page_title %}
  Settings
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-medium">Settings</h1>

    <div class="bottom-gutter-3-2 settings-table body-copy-table">

      {% call mapping_table(
        caption='General',
        field_headings=['Label', 'Value', 'Action'],
        field_headings_visible=False,
        caption_visible=False
      ) %}

        {% call row() %}
          {{ text_field('Service name') }}
          {{ text_field(current_service.name) }}
          {{ edit_field(
              'Change',
              url_for('.service_name_change', service_id=current_service.id),
              permissions=['manage_service'],
              suffix='service name',
            )
          }}
        {% endcall %}

        {% call row() %}
          {{ text_field('Sign-in method') }}
          {{ text_field(
            'Email link or text message code'
            if 'email_auth' in current_service.permissions
            else 'Text message code'
          ) }}
          {{ edit_field(
              'Change',
              url_for('.service_set_auth_type', service_id=current_service.id),
              permissions=['manage_service'],
              suffix='sign-in method',
            )
          }}
        {% endcall %}
      {% endcall %}
    </div>

    {% if current_user.platform_admin %}

      <div class="settings-table body-copy-table top-gutter-4-3">

        <h2 class="heading-medium">Platform admin settings</h2>

        {% call mapping_table(
          caption='Settings',
          field_headings=['Label', 'Value', 'Action'],
          field_headings_visible=False,
          caption_visible=False
        ) %}

        {% call row() %}
          {{ text_field('Notes')}}
          {{ optional_text_field(current_service.notes, default="None", wrap=True) }}
          {{ edit_field('Change', url_for('.edit_service_notes', service_id=current_service.id), suffix='the notes for the service') }}
        {% endcall %}

        {% for permission in service_permissions %}
          {% if not service_permissions[permission].requires or current_service.has_permission(service_permissions[permission].requires) %}
            {% call row() %}
              {{ text_field(service_permissions[permission].title)}}
              {{ boolean_field(current_service.has_permission(permission)) }}
              {{ edit_field(
                  'Change',
                  url_for(
                    service_permissions[permission].endpoint or '.service_set_permission',
                    service_id=current_service.id,
                    permission=permission if not service_permissions[permission].endpoint else None
                  ),
                  suffix='your settings for ' + service_permissions[permission].title,
                ) }}
            {% endcall %}
          {% endif %}
        {% endfor %}

        {% call row() %}
          {{ text_field('Emergency alerts')}}
          {% call field(wrap=True) %}
            {% if not current_service.broadcast_channel %}
            Off
            {% else %}
            {{ broadcast_service_name_tag(current_service.trial_mode, current_service.broadcast_channel, current_service.broadcast_providers, left_margin=False) }}
            {% endif %}
          {% endcall %}
          {{ edit_field(
              'Change',
              url_for('.service_set_broadcast_channel', service_id=current_service.id),
              suffix='your settings for emergency alerts'
            )
          }}
        {% endcall %}

      {% endcall %}

      </div>

    {% endif %}

      <p class="top-gutter-1-2">
        {% if current_service.active and (current_service.trial_mode or current_user.platform_admin) %}
        <span class="page-footer-link page-footer-delete-link-without-button">
          <a
            class="govuk-link govuk-link--destructive"
            href="{{ url_for('.archive_service', service_id=current_service.id) }}"
          >
            Delete this service
          </a>
        </span>
        {% endif %}
        {% if current_user.platform_admin %}
          <span class="page-footer-link">
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="{{ url_for('.history', service_id=current_service.id) }}"
            >
              Service history
            </a>
          </span>
        {% endif %}
      </p>
{% endblock %}
}
