{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/password-input/macro.html" import govukPasswordInput %}

{% block per_page_title %}
  {% if again %}
    You need to sign in again
  {% else %}
    Sign in
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if again %}
      {% if status == 'expired' %}
        <h1 class="heading-large">You’ve been signed out</h1>
        <p class="govuk-body">
          We do this every 6 hours to keep your information secure. Sign back in to start a new session.
        </p>
      {% elif status == 'inactive' %}
        <h1 class="heading-large">You’ve been signed out due to inactivity</h1>
        <p class="govuk-body">
          We do this to keep your information secure. Sign back in to continue where you left off.
        </p>
      {% else %}
        <h1 class="heading-large">You need to sign in again</h1>
        {% if other_device %}
          <p class="govuk-body">
            We signed you out because you logged in to Emergency Alerts on another device.
          </p>
        {% else %}
          <p class="govuk-body">
            We signed you out because you have not used Emergency Alerts for a while.
          </p>
        {% endif %}
      {% endif %}
    {% elif reset_password %}
      <h1 class="heading-large">You need to sign in</h1>
      <p class="govuk-body">
        You've just changed your password. Sign in with your new password.
      </p>
    {% else %}
      <h1 class="heading-large">Sign in</h1>
    {% endif %}

    {% call form_wrapper(autocomplete=True) %}
      {{ form.email_address(param_extensions={"autocomplete": "email"}) }}
      {{ govukPasswordInput({
        "label": {
          "text": "Password"
        },
        "id": "password",
        "value": form.password.data or "",
        "name": "password",
        "classes": "govuk-!-width-two-thirds govuk-!-margin-right-1",
        "showPasswordText":"Show password",
        "hidePasswordText":"Hide password",
        "showPasswordAriaLabelText":"Show password",
        "hidePasswordAriaLabelText":"Hide password",
        "passwordShownAnnouncementText":"Your password is visible",
        "passwordHiddenAnnouncementText":"Your password is hidden",
        "autocomplete": "current-password",
        "errorMessage": {
              "text" : form.password.errors[0] | safe
        } if form.password.errors[0] else None,
      }) }}
      {{ page_footer("Continue", button_name="continue", secondary_link=password_reset_url, secondary_link_text="Forgotten your password?") }}
    {% endcall %}
  </div>
</div>

{% endblock %}
