{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {% if again %}
    You need to sign in again
  {% else %}
    Sign in
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if again %}
      <h1 class="heading-large">You need to sign in again</h1>
      {% if other_device %}
        <p class="govuk-body">
          We signed you out because you logged in to Emergency Alerts on another device.
        </p>
      {% elif expired %}
        <p class="govuk-body">
          Your session has closed due to security. Sign back in to continue where you left off.
        </p>
      {% elif inactive %}
        <p class="govuk-body">
          You've been signed out due to inactivity. Sign back in to continue where you left off.
        </p>
      {% else %}
        <p class="govuk-body">
          We signed you out because you have not used Emergency Alerts for a while.
        </p>
      {% endif %}
    {% else %}
      <h1 class="heading-large">Sign in</h1>
    {% endif %}

    {% call form_wrapper(autocomplete=True) %}
      {{ form.email_address(param_extensions={"autocomplete": "email"}) }}
      {{ form.password(param_extensions={"autocomplete": "current-password"}) }}
      {{ page_footer("Continue", secondary_link=password_reset_url, secondary_link_text="Forgotten your password?") }}
    {% endcall %}
  </div>
</div>

{% endblock %}
