{% extends "withoutnav_template.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block per_page_title %}
  Your profile
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Your profile</h1>

  {% if can_see_edit %}
    {% set email_address_row =
      [
        {
          "text": "Email address"
        },
        {
          "text": current_user.email_address
        },
        {
          "html": change_link('.user_profile_email', 'email address')
        }
      ]
    %}
  {% else %}
    {% set email_address_row =
      [
        {
          "text": "Email address"
        },
        {
          "text": current_user.email_address
        }
      ]
    %}
  {% endif %}

  {% set rows = [
    [
      {
        "text": "Name"
      },
      {
        "text": current_user.name
      },
      {
        "html": change_link('.user_profile_name', 'name')
      }
    ],
    email_address_row,
    [
      {
        "text": "Mobile number"
      },
      {
        "text": current_user.mobile_number or "Not set",
      },
      {
        "html": change_link('.user_profile_mobile_number', 'mobile number')
      }
    ],
    [
      {
        "text": "Password"
      },
      {
        "text": 'Last changed ' + current_user.password_changed_at|format_delta
      },
      {
        "html": change_link('.user_profile_password', 'password')
      }
    ]
  ]%}

 {% if current_user.can_use_webauthn %}
  {% set _ = rows.append(
    [
      {
        "text": "Security keys"
      },
      {
        "text": ('{} registered'.format(current_user.webauthn_credentials|length)) if current_user.webauthn_credentials else "None registered",
      },
      {
        "html": change_link('.user_profile_security_keys', 'security keys')
      }
    ]
  ) %}
 {% endif %}

 {% if current_user.platform_admin or session.get('disable_platform_admin_view') %}
  {% set _ = rows.append(
    [
      {
        "text": "Use platform admin view"
      },
      {
        "text": (not session.get('disable_platform_admin_view'))|format_yes_no
      },
      {
        "html": change_link('.user_profile_disable_platform_admin_view', 'whether to use platform admin view')
      }
    ]
  ) %}
{% endif %}

{{ govukTable({
  "firstCellIsHeader": true,
  "head": [
    {
      "text": "Personal details"
    },
    {
      "text": "Detail values"
    },
    {
      "text": "Change details"
    }
  ],
  "rows": rows
}) }}

{% endblock %}

{% macro change_link(url, visually_hidden_text) %}
  <a href="{{ url_for(url) }}" class="govuk-link--no-visited-state">
    Change
    <span class="govuk-visually-hidden"> {{ visually_hidden_text }}</span>
  </a>
{% endmacro %}
