<script nonce="{{ cspNonce }}">

    code.oninput = function () {
        let entropy = Number(window.GOVUK.calculateEntropy(code.value));
        strengthBar.value = entropy;
        if (entropy < 100) {
            window.GOVUK.setColour(entropy);
            window.GOVUK.setText(entropy);
        }
        if (code.value == "") {
            strengthText.innerText = "";
        }
    }
    addEventListener("DOMContentLoaded", (event) => {
        let entropy = Number(window.GOVUK.calculateEntropy(code.value));
        strengthBar.value = entropy;
        if (entropy < 100) {
            window.GOVUK.setColour(entropy);
            window.GOVUK.setText(entropy);
        }
        if (code.value == "") {
            strengthText.innerText = "";
        }
    });

</script>
