<script nonce="{{ cspNonce }}">

    const lcase = "abcdefghijklmnopqrstuvwxyz";
    const ucase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    const numb = "1234567890";
    const symbol = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~ ";

    let code = document.getElementById("new_password");
    let strengthBar = document.getElementById("meter")
    let strengthText = document.getElementById("password-strength");

    code.oninput = function () {
        let entropy = Number(window.GOVUK.calculateEntropy(code.value));
        strengthBar.value = entropy;
        if (entropy < 100) {
            window.GOVUK.setColour(entropy);
            window.GOVUK.setText(entropy);
        }
        if (code.value == "") {
            strengthText.innerText = "";
        }
    }
    addEventListener("DOMContentLoaded", (event) => {
        let entropy = Number(window.GOVUK.calculateEntropy(code.value));
        strengthBar.value = entropy;
        if (entropy < 100) {
            window.GOVUK.setColour(entropy);
            window.GOVUK.setText(entropy);
        }
        if (code.value == "") {
            strengthText.innerText = "";
        }
    });

</script>
