# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

humanize==4.4.0
Flask==3.0.2
Flask-WTF==1.2.1
wtforms==3.1.2
Flask-Login==0.6.3
Werkzeug==3.0.2
jinja2==3.1.2
MarkupSafe==2.1.5

blinker==1.7.0
pytz==2022.6
notifications-python-client==8.0.0
rtreelib==0.2.0
fido2==1.1.0
pyproj==3.6.1
postcode-validator==0.0.4
pwdpy==1.0.1

itsdangerous==2.1.2
govuk-frontend-jinja==3.3.0
govuk-bank-holidays==0.11

# gds-metrics requires prometheseus 0.2.0, override that requirement as later versions bring significant performance gains
prometheus-client==0.15.0
git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

# Packages for testing
black==23.3.0
isort==5.12.0
pytest==7.2.0
pytest-env==0.8.1
pytest-mock==3.10.0
pytest-xdist==3.0.2
beautifulsoup4==4.11.1
freezegun==1.2.2
flake8==7.0.0
flake8-bugbear==22.10.27
flake8-print==5.0.0
moto==5.0.4
requests-mock==1.10.0
