# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

blinker==1.9.0
fido2==2.0.0
Flask-Login==0.6.3
Flask-WTF==1.2.2
Flask==3.0.3
govuk-bank-holidays==0.18
govuk-frontend-jinja==3.9.0
humanize==4.14.0
itsdangerous==2.2.0
jinja2==3.1.6
MarkupSafe==3.0.3
notifications-python-client==10.0.1
postcode-validator==0.0.4
pwdpy==1.0.1
pyproj==3.7.2
pytz==2025.2
rtreelib==0.2.0
shapely==2.1.2
Werkzeug==3.1.4
wtforms==3.2.1

# Packages for testing
beautifulsoup4==4.14.3
black==25.12.0
flake8-bugbear==25.11.29
flake8-print==5.0.0
flake8==7.3.0
freezegun==1.5.5
isort==7.0.0
moto==5.1.18
pytest-env==1.2.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
pytest==9.0.2
requests-mock==1.12.1
