.dashboard {
  th {
    font-weight: normal;
  }

  > .heading-medium:first-of-type {
    margin-top: govuk-spacing(3);
  }

}

.keyline-block {
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
}

.spark-bar {

  @include govuk-font(16);
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: govuk-spacing(3);
  height: govuk-spacing(3);
  color: $govuk-text-colour;
  text-align: left;

  &-bar {
    @include govuk-font(27, $weight: bold, $tabular: true);
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
    background: govuk-shade(govuk-colour("light-grey"), 7%);
    color: $govuk-text-colour;
    padding: 10px 6px 8px 0;
    text-indent: 12px;
    text-align: right;
    margin: 2px 0 1px;
    transition: width 0.6s ease-in-out;
  }

}

.file-list {

  // for file-lists with section-like content and a single item
  &--sectioned {
    display: flex;
    flex-wrap: wrap;
    text-align: justify; // fallback for browsers that don't support flexbox
    justify-content: space-between;

    // note: first-child of a section should be a heading
    & > :first-child,
    & > .area-list {
      width: 100%;
      text-align: left;
    }

    & > .file-list-hint-large,
    & > .file-list-status {

      // This simulates a 50% column in a govuk grid on smaller screens
      // govuk grid columns go to 100% width on smaller screens
      width: 100%;

    }

    & > .file-list-status {
      overflow: hidden; // old IE hack to make it vertically line up with the hint
    }

    & > .file-list-hint-large {
      text-align: left; // reset for text-align fallback on parent
    }
  }

  &-hint,
  &-hint-large,
  &-status {
    pointer-events: none; // delegate clicks to the overlapping link
    position: relative; // make non-static to sit above the overlapping focus style
  }

  &-filename {
    @include govuk-font(19, $weight: bold);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: -30px;
    margin-top: -10px;
  }

  &-filename-large {
    @include govuk-font(24, $weight: bold);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    margin-top: -10px;
  }

  &-filename-large-no-hint {
    padding-bottom: 0;
    padding-top: 5px;
    margin-bottom: 0;
    margin-top: 5px;
    overflow: visible; // don't cut off thicker underline
  }

  &-filename-unlinked {
    @include govuk-font(19);
  }

  &-hint {
    @include govuk-font(16);
    color: $govuk-secondary-text-colour;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; // number of lines to show
    max-width: 60ch;
  }

  &-hint-large {
    @include govuk-font(19);
    color: $govuk-secondary-text-colour;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; // number of lines to show
    max-width: 60ch;
  }

}

// The focus state for sibling links overlaps the hint so the hint's text colour needs to adapt
.govuk-link:focus {
  &.file-list-filename,
  &.file-list-filename-large {
    // override box-shadow to push underline down a bit
    box-shadow: 0 -2px $govuk-focus-colour, 0 5px $govuk-focus-text-colour;

    // File-list items contained by keyline-blocks have more spacing at the top so adapt to cover it
    .keyline-block > .file-list & {
      box-shadow: 0 -5px $govuk-focus-colour, 0 5px $govuk-focus-text-colour;
    }
  }

  & + .file-list-hint,
  & + .file-list-hint-large {
    color: $govuk-focus-text-colour;
  }

}

// Note: this selector should use the :has() pseudo-class in the future when it is supported
//       which will remove the need for JS
.file-list .js-child-has-focus {
  & + .file-list-hint-large,
  & ~ .file-list-status {
    color: $govuk-focus-text-colour;
  }

}

.failure-highlight {
  @include govuk-font(19, $weight: bold);
  color: $govuk-error-colour;
}

.align-with-message-body {
  display: block;
  margin-top: govuk-spacing(5);
}
