.template-container {
  position: relative;
}

%edit-template-link,
.edit-template-link {

  @include govuk-font(19);
  position: absolute;
  background-color: $govuk-link-colour; // text colour is set in the HTML by the govuk-link--inverse class
  padding: 10px govuk-spacing(3);
  z-index: 10000;

}

.template-content-count {
  @include govuk-font(19, $tabular: true);
  color: $govuk-secondary-text-colour;
  padding: 0 0 govuk-spacing(6) 0;

  & .govuk-error-message {
    margin: 0;
  }
}
