<div class="govuk-grid-column-full template-version-list-item">
  <h2 class="message-name">{{ template.reference }}</h2>
  <p class="hint">
    {% if (template.version or 1) > 1 %}
      Edit made {% if template.updated_at %}{{ template.updated_at|format_datetime_normal }}{% endif %}
    {% else %}
      Created
      {% if template.created_at %}{{ template.created_at|format_datetime_normal }}{% endif %}
    {% endif %}
    by {{ template.created_by.name }}
  </p>
  {% if template.areas["names"] %}
    <div>
      <p class="govuk-!-margin-right-2 area-list">Area: </p>
      <ul class="area-list">
        {% for area in template.areas["names"] %}
          <li class="area-list-item area-list-item--unremoveable area-list-item--smaller">{{area}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

<div class="govuk-grid-column-full">
  {{ formatted_template|string }}
</div>
