{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/folder-path.html" import folder_path, page_title_folder_path %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "components/template-summary-list.html" import templateSummaryList %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-javascripts.html" %}
  {% include "views/broadcast/partials/enlarged-map-javascripts.html" %}
{% endblock %}

{% block service_page_title %}
  {{ page_title_folder_path(current_service.get_template_path(template)) }}
{% endblock %}

{% set breadcrumbs = [] %}

{% if template.areas %}
  {% if template.areas|length == 1 or is_custom_broadcast %}
    {% set label = "Map of the United Kingdom, showing the area for "+template.areas[0].name %}
  {% elif template.areas|length > 1 %}
    {% set label = "Map of the United Kingdom, showing the areas for "+template.areas[:-1]|map(attribute='name')|join(', ')+' and '+template.areas[-1].name  %}
  {% endif %}
{% else %}
  {% set label = "Map of the United Kingdom, showing no areas" %}
{% endif %}

{% if not show_redaction_message %}
  {% block additionalBeforeContent %}
    {% for folder in template_folder_path %}
      {% set breadcrumb_href = url_for('.choose_template', service_id=current_service.id, template_type='all', template_folder_id=folder.id) %}
      {% set breadcrumb_item = {'text': folder.name, 'href': breadcrumb_href} %}
      {% set _ = breadcrumbs.append(breadcrumb_item) %}
    {% endfor %}
    {% set breadcrumb_item = {'text': template.reference or "Template", 'href': None} %}
    {% set _ = breadcrumbs.append(breadcrumb_item) %}
    {{ govukBreadcrumbs({
      "items": breadcrumbs
    }) }}
  {% endblock %}
{% endif %}

{% block maincolumn_content %}

  {% if show_redaction_message %}
    <div class="bottom-gutter">
      {% call banner_wrapper(type='dangerous', subhead='Are you sure you want to hide personalisation after sending?') %}
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1 govuk-!-margin-bottom-2">
          <li>
            You will not be able to see personalised content in Notify for this template
          </li>
          <li>
            You cannot undo this
          </li>
        </ul>
        <form method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {{ govukButton({ "text": "Confirm", "classes": "govuk-button--warning govuk-!-margin-top-2" }) }}
        </form>
      {% endcall %}
    </div>
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ folder_path(
          folders=current_service.get_template_path(template),
          service_id=current_service.id,
          current_user=current_user,
          is_template=True
        ) }}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    {% include 'views/templates/_template.html' %}
  </div>

  {% if template.template_type != 'broadcast' %}
    <div class="bottom-gutter-1-2">
      {{ copy_to_clipboard(template.id, name="Template ID", thing='template ID') }}
    </div>
  {% endif %}

  {{templateSummaryList(template, areas, template.simple_polygons_with_bleed.estimated_area, template.count_of_phones, template.count_of_phones_likely, is_custom_broadcast, formatted_template, current_user, not template.archived)}}


  <div class="bottom-gutter-1-2">
    {% if template.updated_at %}
      <h2 class="heading-small bottom-gutter-2-3 heading-inline">
        Last edited
        <time class="timeago" datetime="{{ template.updated_at }}">
          {{ template.updated_at|format_delta }}
        </time>
      </h2>

      &emsp;
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.view_template_versions', service_id=current_service.id, template_id=template.id) }}">See previous versions</a>
      &emsp;
      <br/>
    {% endif %}
    {% if current_user.has_permissions('manage_templates') and user_has_template_permission %}
      {% if not template.archived %}
        <span class="page-footer-link page-footer-delete-link-without-button bottom-gutter-2-3">
          <a class="govuk-link govuk-link--destructive" href="{{ url_for('.delete_service_template', service_id=current_service.id, template_id=template.id) }}">Delete this template</a>
        </span>
        &emsp;
      {% endif %}
    {% endif %}
  </div>

{% endblock %}
