{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Support
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Support</h1>
  <p class="govuk-body">You can get online support for the Emergency Alerts Service 24 hours a day.</p>

  <h2 class="heading-medium">Reporting an emergency</h2>
  <p class="govuk-body">An issue is an emergency if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you are the only person on call and cannot sign in</li>
    <li>no one on your team who is on call can sign in</li>
    <li>you see a 'technical difficulties' error message</li>
    <li>you see a '500 response code' error message</li>
  </ul>
  <p class="govuk-body">If you have an emergency, do not use the support form. You must follow your 'standard operating procedures' to raise a PagerDuty alert with the on-call support team.</p>

  <h2 class="heading-medium">For all other issues</h2>
  <p class="govuk-body">If your problem is not an emergency, complete the support form.</p>
  <p class="govuk-body">We aim to reply by the end of the next working day.</p>

  {% call form_wrapper() %}
    {% if not current_user.is_authenticated %}
      {{ form.name(param_extensions={"classes": "govuk-!-width-full"}) }}
      {{ form.email_address(param_extensions={"classes": "govuk-!-width-full"}) }}
    {% else %}
      <p class="govuk-body">We'll reply to {{ current_user.email_address }}</p>
    {% endif %}
    {{ textbox(form.feedback, width='1-1', hint='', rows=10, autosize=True) }}
    {{ page_footer('Send') }}
  {% endcall %}

{% endblock %}
