{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Thanks for contacting us
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.support') }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Thanks for contacting us') }}
  <p class="govuk-body">
      We'll aim to read and reply to your message in the next working day.
  </p>

{% endblock %}
