{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block main %}
<div class="govuk-width-container {{ mainClasses }}">
    <div class="navigation-service">
      <div class="navigation-service-name govuk-!-font-weight-bold">
        Platform admin
      </div>
      <a href="{{ url_for('main.choose_account') }}" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline navigation-service-switch">Switch service</a>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="navigation" aria-label="Platform admin">
          {% for link_text, url in [
            ('Trial mode services', url_for('main.trial_services')),
            ('Organisations', url_for('main.organisations')),
            ('Find services by name', url_for('main.find_services_by_name')),
            ('Find users by email', url_for('main.find_users_by_email')),
            ('Clear cache', url_for('main.clear_cache')),
            ('API integration', url_for('.api_keys', service_id=current_service.id))
          ] %}
            <li>
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url }}">
                {{ link_text }}
              </a>
            </li>
          {% endfor %}
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">
      {% block backLink %}{% endblock %}
        <main class="govuk-main-wrapper column-main govuk-!-padding-top-0 govuk-!-padding-bottom-0" id="main-content" role="main">
          {% block content %}
            {% include 'flash_messages.html' %}
            {% block platform_admin_content %}{% endblock %}
          {% endblock %}
        </main>
      </div>
    </div>
  </div>

{% endblock %}
