{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/password-input/macro.html" import govukPasswordInput %}

{% block per_page_title %}
  Change your {{ thing }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.user_profile') }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header('Change your {}'.format(thing)) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% call form_wrapper() %}
        {{ security_detail_field(error_message_with_html=True) }}
        {{ govukPasswordInput({
          "label": {
            "text": "Enter password"
          },
          "id": form.password.id,
          "value": form.password.data,
          "name": form.password.name,
          "classes": "govuk-!-width-two-thirds govuk-!-margin-right-1",
          "showPasswordText":"Show password",
          "hidePasswordText":"Hide password",
          "showPasswordAriaLabelText":"Show password",
          "hidePasswordAriaLabelText":"Hide password",
          "passwordShownAnnouncementText":"Your password is visible",
          "passwordHiddenAnnouncementText":"Your password is hidden",
          "autocomplete": "current-password",
          "errorMessage": {
                "text" : form.password.errors[0] | safe
          } if form.password.errors[0] else None,
        }) }}
      {% if current_user.auth_type == 'email_auth' and (current_user.mobile_number and thing == "mobile number") %}
          {{ page_footer(
            'Confirm',
            delete_link=url_for(
              'main.user_profile_mobile_number_delete',
              user_id=current_user.id
            ),
            delete_link_text='Delete your number'
            )
          }}
        {% else %}
          {{ page_footer('Confirm')}}
        {% endif %}
    {% endcall %}
    </div>
  </div>
{% endblock %}
