<script nonce="{{ cspNonce }}" src="{{ asset_url('javascripts/leaflet.js') }}"></script>
<script nonce="{{ cspNonce }}">
  let polygons = []
  {% if is_custom_broadcast %}
    area_color = "#0201FE"
    bleed_color = "#0201FE"
    fill_color = "none"
  {% else %}
    area_color = "#0B0B0C"
    bleed_color = "#1d70b8"
    fill_color = "#5694ca"
  {% endif %}

  {% if estimated_area %}
    {% for polygon in message.simple_polygons_with_bleed.as_coordinate_pairs_lat_long %}
      polygons.push(
        L.polygon({{polygon}}, {
          opacity: 1,
          color: bleed_color,
          fillColor: fill_color,
          fillOpacity: 0.15,
          weight: 2,
          dashArray: [6, 7],
          lineCap: 'butt'
        })
      );
    {% endfor %}
  {% endif %}

  {% if message.polygons %}
    {% for polygon in message.polygons.as_coordinate_pairs_lat_long %}
      polygons.push(
        L.polygon({{polygon}}, {
          color: area_color,
          fillColor: fill_color,
          fillOpacity: 0.3,
          weight: 2
        })
      );
    {% endfor %}
  {% endif %}


  let mapElement = document.getElementById('area-list-map');
  if (mapElement != null) {
    const grandparent = mapElement.parentNode.parentNode;
    const isInDetails = grandparent.className.indexOf('govuk-details') !== -1;
    let details;

    // if element is inside a details element then to make the map render correctly we open the details element
    // and set up the map before closing the details map after
    if (isInDetails) {
      details = grandparent;
      details.open = true;
    }

    mapElement.style.height = Math.max(320, window.innerHeight - mapElement.offsetTop - 100) + 'px';

    const mymap = L.map(
      'area-list-map',
      {
        scrollWheelZoom: false
      }
    )

    mymap.setView(
      [55.378052, -3.435973],
      5
    );
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    let polygonGroup = L.featureGroup(polygons).addTo(mymap);
    mymap.fitBounds(
      polygonGroup.getBounds(),
      {padding: [1, 1]}
    );

    // if element is inside a details element then close the details element
    if (isInDetails) {
      details.open = false;
    }
  }

</script>
