<script src="{{ asset_url('javascripts/leaflet.js') }}"></script>
<script>
  let polygons = []
  let pinpoint
  const markerIcon = L.icon({
    iconUrl:"{{ asset_url('images/marker-icon.png') }}",
    iconSize: [30, 30],
  });

  {% if broadcast_message.areas %}
    {% for polygon in broadcast_message.polygons.as_coordinate_pairs_lat_long %}
      let poly = L.polygon({{polygon}}, {
        color: '#0b0b0c',
        fillColor: 'none',
        fillOpacity: 0.3,
        weight: 2,
      })
      polygons.push(
        poly
      );
    {% endfor %}
  {% endif %}



  let mapElement = document.getElementById('area-list-map');
  mapElement.style.height = Math.max(400, window.innerHeight - mapElement.offsetTop - 100) + 'px';

  const mymap = L.map(
    'area-list-map',
    {
      scrollWheelZoom: false
    }
  )
  mymap.setView(
    [55.378052, -3.435973],
    5
  );

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(mymap);

  if (polygons.length > 0) {
    let polygonGroup = L.featureGroup(polygons).addTo(mymap);
    mymap.fitBounds(
      polygonGroup.getBounds(),
      {padding: [1, 1]}
    );
    let bounds = polygonGroup.getBounds()
    let center = bounds.getCenter()
    pinpoint = L.marker(center, {icon: markerIcon, draggable: true });
    pinpoint.addTo(mymap);
  } else if ({{marker}}) {
    pinpoint = L.marker({{marker}}, {icon: markerIcon, draggable: true });
    pinpoint.addTo(mymap);
    mymap.setView(pinpoint.getLatLng(), 13)
  }

</script>
