<script src="{{ asset_url('javascripts/leaflet.js') }}"></script>
<script>
  let polygons = []

  {% if broadcast_message.areas %}
    {% for polygon in broadcast_message.simple_polygons_with_bleed.as_coordinate_pairs_lat_long %}
      polygons.push(
        L.polygon({{polygon}}, {
          opacity: 1,
          color: '#1d70b8',
          fillColor: '#5694ca',
          fillOpacity: 0.15,
          weight: 2,
          dashArray: [6, 7],
          lineCap: 'butt'
        })
      );
    {% endfor %}

    {% for polygon in broadcast_message.polygons.as_coordinate_pairs_lat_long %}
      polygons.push(
        L.polygon({{polygon}}, {
          color: '#0b0b0c',
          fillColor: '#5694ca',
          fillOpacity: 0.3,
          weight: 2
        })
      );
      let bounds = L.polygon({{polygon}}).getBounds();
      let center = bounds.getCenter();

    {% endfor %}
  {% endif %}


  let mapElement = document.getElementById('area-list-map');
  mapElement.style.height = Math.max(320, window.innerHeight - mapElement.offsetTop - 100) + 'px';
  const mymap = L.map(
    'area-list-map',
    {
      scrollWheelZoom: false
    }
  )
  mymap.setView(
    [55.378052, -3.435973],
    5
  );

  if (polygons.length > 0) {
    let polygonGroup = L.featureGroup(polygons).addTo(mymap);
    mymap.fitBounds(
      polygonGroup.getBounds(),
      {padding: [1, 1]}
    );
  }


  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(mymap);
  // if element is inside a details element then close the details element
  if (isInDetails) {
    details.open = false;
  }

</script>
