{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% macro broadcast_details(broadcast_message, current_service) %}
{% if broadcast_message.status == 'broadcasting' %}
<p class="govuk-body govuk-!-margin-bottom-2 live-broadcast live-broadcast--left">
  {{ govukTag ({
    'text': 'live',
    'classes': 'govuk-!-margin-right-2 broadcast-tag'
  }) }}
  since {{ broadcast_message.starts_at|format_datetime_relative }}&ensp;
  {%- if not hide_stop_link %}
    <a href="{{ url_for('.cancel_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }}" class="destructive-link destructive-link--no-visited-state">Stop sending</a>
  {% endif %}
</p>
{% elif broadcast_message.status == 'rejected' %}
<p class="govuk-body govuk-!-margin-bottom-4">
  {% if broadcast_message.rejected_by or broadcast_message.rejected_by_api_key_id %}
    Rejected
    {{ broadcast_message.rejected_at|format_datetime_human }}
    {% if broadcast_message.rejected_by %}
      by {{broadcast_message.rejected_by}}.
    {% elif broadcast_message.rejected_by_api_key_id %}
      by an API call.
    {% endif %}
  {% else %}
    Rejected
    {{ broadcast_message.rejected_at|format_datetime_human }}.
  {% endif %}
</p>
{% if broadcast_message.rejection_reason %}
  <div class="govuk-!-margin-bottom-4">
    <p class="govuk-!-margin-right-2 govuk-heading-m govuk-!-margin-bottom-1">Reason </p>
    {{broadcast_message.rejection_reason}}
  </div>
{% endif %}
{% else %}
<p class="govuk-body govuk-!-margin-bottom-4">
  Sent
  {{ broadcast_message.starts_at|format_datetime_human }}.
</p>
{% endif %}
{% endmacro %}
