{% from "components/table.html" import list_table, field, right_aligned_field_heading, row_heading %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

<div class="ajax-block-container js-mark-focus-on-parent" data-classes-to-persist="js-child-has-focus">
{% for item in broadcasts|sort|reverse|list %}
  <div class="keyline-block">
    <div class="file-list file-list--sectioned govuk-!-margin-bottom-2">
      <h2>
        <a class="file-list-filename-large govuk-link govuk-link--no-visited-state" href="{{ url_for(view_broadcast_endpoint, service_id=current_service.id, broadcast_message_id=item.id) }}">{{ item.template.name }}</a>
      </h2>
      <span class="file-list-hint-large govuk-!-margin-bottom-2">
        {{ item.content }}
      </span>
      {% if item.status == 'pending-approval' %}
        <p class="govuk-body govuk-hint file-list-status">
          Waiting for approval
        </p>
      {% elif item.status == 'rejected' %}
        <p class="govuk-body govuk-hint file-list-status">
          {{ item.updated_at|format_date_human|title }} at {{ item.updated_at|format_time }}
        </p>
      {% elif item.status == 'broadcasting' %}
        <p class="govuk-body live-broadcast file-list-status">
          {{ govukTag ({
            'text': 'live',
            'classes': 'govuk-!-margin-right-2 broadcast-tag'
          }) }}
          since {{ item.starts_at|format_datetime_relative }}
        </p>
      {% else %}
        <p class="govuk-body govuk-hint file-list-status">
          {{ item.starts_at|format_date_human|title }} at {{ item.starts_at|format_time }}
        </p>
      {% endif %}
      <div>
        <p class="govuk-!-margin-right-2 area-list">Area: </p>
        <ul class="area-list">
          {% for area in item.areas %}
            <li class="area-list-item area-list-item--unremoveable area-list-item--smaller">{{area.name}}</li>
          {% endfor %}
        </ul>
        <!-- {% if item.duration|format_seconds_duration_as_time != "0 seconds" %}
          <p class="govuk-!-margin-right-2 duration-preview">Duration: {{ item.duration|format_seconds_duration_as_time }}</p>
        {% endif %} -->
      </div>
    </div>
    <div>
      {% if item.status == 'rejected' and item.rejection_reason %}
        <p class="govuk-body">
          Rejection reason: {{ item.rejection_reason}}
        </p>
      {% endif %}
    </div>
  </div>
  {% if loop.last %}
    <div class="keyline-block">
    </div>
  {% endif %}
{% else %}
  <p class="table-empty-message keyline-block govuk-!-padding-top-4">
    {{ empty_message }}
  </p>
{% endfor %}
</div>
