{% macro expiryDialog(params) %}

<!doctype html>
<html lang="en">

<body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="3480"
        data-countdown="120" data-keep-alive-url="?continue=true" data-sign-out-url="/sign-out" data-timeout-url=""
        data-title="You can no longer extend your session" data-message="For your security, we are required to sign you out in" data-message-suffix="" data-keep-alive-button-text="Sign in again" data-sign-out-button-text=""
        data-synchronise-tabs="" data-hide-sign-out-button="">
</body>

</html>

{% endmacro %}
