{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% macro inactivityLogoutDialog() %}

<dialog id="activity" tabindex="-1" aria-modal="true" class="hmrc-timeout-dialog"
    role="dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
    <div class="hmrc-timeout-dialog-content">
        <h2 id="hmrc-timeout-heading" class="govuk-heading-m push--top">You're about to be signed out</h2>
        <h2 class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true" id="time-remaining-message">You have n minutes remaining in your session.</h2>
        <h2 id="hmrc-timeout-message" class="govuk-visually-hidden screenreader-content" aria-live="assertive">If you do not sign in within 2 mins, your session will end. We do this to keep your information secure.</h2>
        {{ govukButton({
            "text": "Stay signed in",
            "classes": "govuk-button",
            "id": "hmrc-timeout-keep-signin-btn",
            "name": "stay-signed-in-btn"
        }) }}
        <div class="hmrc-timeout-dialog__link-wrapper">
            <a id="hmrc-timeout-sign-out-link" class="govuk-link hmrc-timeout-dialog__link" href="/sign-out">Sign out now</a>
        </div>
    </div>
</dialog>

{% endmacro %}
