{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% macro inactivityWarningDialog() %}

<dialog id="activity-warning" tabindex="-1" aria-modal="true" class="hmrc-timeout-dialog"
    role="dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
    <div class="hmrc-timeout-dialog-content">
        <h2 id="hmrc-timeout-heading" class="govuk-heading-m push--top">You've been inactive for 28 minutes</h2>
        <h2 class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true">You'll be signed out if you're inactive for 60 minutes.</h2>
        {{ govukButton({
            "text": "Close",
            "classes": "govuk-button",
            "id": "close-button",
            "name": "close-inactivity-warning-button"
        }) }}
    </div>
</dialog>

{% endmacro %}
