// sass-lint:disable no-important
// set asset URL root to match that of application
$govuk-assets-path: "/static/";

@import "govuk-frontend/dist/govuk/settings/index";
@import "govuk-frontend/dist/govuk/tools/index";
@import "govuk-frontend/dist/govuk/helpers/index";

@import "govuk-frontend/dist/govuk/core/index";
@import "govuk-frontend/dist/govuk/objects/index";

* {
  background: transparent;
  color: #000000;
  text-shadow: none;
  filter: none;
  -ms-filter: none;
}

body {
  @include govuk-font($size: 16);
  margin: 0;
  padding: 0;
  width: 100%;
}

a,
a:visited {
  word-wrap: break-word;
}

a[href^="/"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}

a[href^="javascript:"]::after,
a[href^="#"]::after {
  content: "";
}

img {
  max-width: 100% !important; // stylelint-disable-line declaration-no-important
}

select {
  background: #ffffff;
}

.govuk-header {
  .govuk-header__logo {
    @include govuk-font($size: 19);
    text-rendering: optimizelegibility;

    a {
      &,
      &:visited {
        text-decoration: none;
      }

      &::after {
        content: "";
      }
    }

    svg {
      width: 45px;
      height: 40px;
      position: relative;
      top: -3px;
      vertical-align: bottom;
    }
  }
}

.govuk-visually-hidden,
.govuk-visually-hidden-focusable,
.notify-cookie-message,
.govuk-skip-link,
.govuk-footer {
  display: none !important; // stylelint-disable-line declaration-no-important
}
