{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% macro sessionExpiryPopup(params) %}

<html>

<body>
    <dialog open id="timeout_popup" class="hmrc-timeout-dialog" style="z-index: 10000;display: none; position:fixed;top:15%;left:5%;">
        <h2 id="dialog-title" class="govuk-heading-l">
            You're about to be signed out
        </h2>
        <div class="govuk-button-group">
            <a class="govuk-link" href="/sign-out">Sign Out</a>

    </dialog>
</body>

</html>

{% endmacro %}
