{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block backLink %}
  {% if back_link %}
    {{ govukBackLink({ "href": url_for('main.view_current_broadcast', service_id=current_service.id, broadcast_message_id=broadcast_message_id,) }) }}
  {% else %}
    {{ govukBackLink({ "href": url_for('main.view_current_broadcast', service_id=current_service.id, broadcast_message_id=broadcast_message_id,) }) }}
  {% endif %}
  {% endblock %}

{% block service_page_title %}
  Previous versions
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">Previous versions</h1>
  <div class="govuk-grid-row">
    {% for broadcast_message in versions %}
      {% with show_title=True %}
        {% include 'views/broadcast/_broadcast_message_history.html' %}
      {% endwith %}
    {% endfor %}
  </div>
{% endblock %}
