{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Confirm the area for the alert
{% endblock %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-javascripts.html" %}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% if message.areas %}
  {% if message.areas|length == 1 or is_custom_broadcast %}
    {% set label = "Map of the United Kingdom, showing the area for "+message.areas[0].name %}
  {% elif message.areas|length > 1 %}
    {% set label = "Map of the United Kingdom, showing the areas for "+message.areas[:-1]|map(attribute='name')|join(', ')+' and '+message.areas[-1].name  %}
  {% endif %}
{% else %}
  {% set label = "Map of the United Kingdom, showing no areas" %}
{% endif %}

{% block maincolumn_content %}

  {{ page_header("Confirm the area for the alert") }}

  {% if message.areas %}
    <div>
      <p class="govuk-!-margin-right-2 area-list">Area: </p>
      <ul class="area-list">
        {% for area in message.areas %}
          <li class="area-list-item">
            {{area.name}}
            {% if is_custom_broadcast %}
              <a class="area-list-item-remove govuk-button" data-module="govuk-button" role="button" href="{{ url_for('.remove_coordinate_area', service_id=current_service.id, message_id=message.id, area_slug=area.id, message_type=message_type) }}">
            {% else %}
              <a class="area-list-item-remove govuk-button" data-module="govuk-button" role="button" href="{{ url_for('.remove_broadcast_area', service_id=current_service.id, message_id=message.id, area_slug=area.id, message_type=message_type) }}">
            {% endif %}
              <svg id="area-list-item-remove__icon" width="11" height="11" viewbox="0 0 10 10" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <g transform="rotate(45),translate(1, -6)">
                  <line stroke-width="1.75" id="svg_1" y2="0" x2="6" y1="12" x1="6" stroke="currentColor" fill="none"/>
                  <line stroke-width="1.75" id="svg_3" y2="6" x2="0" y1="6" x1="12" stroke="currentColor" fill="none"/>
                </g>
              </svg>
              <span class="govuk-visually-hidden">Remove {{ area.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if not is_custom_broadcast %}
        {{ govukButton({
          "element": "a",
          "text": "Add another area",
          "href": url_for('.choose_broadcast_library', service_id=current_service.id, message_id=message.id, message_type=message_type),
          "classes": "govuk-button--secondary govuk-!-margin-bottom-5"
        }) }}
      {% endif %}
    </div>

    {{ map(message.simple_polygons.estimated_area, message.simple_polygons_with_bleed.estimated_area, message.count_of_phones, message.count_of_phones_likely, is_custom_broadcast, label) }}
    {{ govukButton({
      "element": "a",
      "text": "Save and continue",
      "name": "continue",
      "href": redirect_url,
      "classes": "govuk-button"
    }) }}

  {% else %}
    <p class="govuk-body">
      {{ govukButton({
        "element": "a",
        "text": "Add broadcast areas",
        "href": url_for('.choose_broadcast_library', service_id=current_service.id, message_id=message.id, message_type=message_type),
        "classes": "govuk-button--secondary"
      }) }}
    </p>
  {% endif %}

{% endblock %}
