{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radio_select %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-javascripts.html" %}
{% endblock %}

{% block service_page_title %}
  Preview alert
{% endblock %}

{% block backLink %}
  {% if custom_broadcast %}
    {% if 'postcode' in broadcast_message.areas[0].name %}
      {{ govukBackLink({ "href": url_for('.choose_broadcast_area', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug='postcodes') }) }}
    {% elif 'latitude' in broadcast_message.areas[0].name%}
      {{ govukBackLink({ "href": url_for('.search_coordinates', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug='coordinates', coordinate_type='latitude_longitude') }) }}
    {% elif 'easting' in broadcast_message.areas[0].name%}
      {{ govukBackLink({ "href": url_for('.search_coordinates', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug='coordinates', coordinate_type='easting_northing') }) }}
    {% endif %}
  {% else %}
    {{ govukBackLink({ "href": url_for('.preview_broadcast_areas', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Preview alert") }}

  {% set map_html = map(None, broadcast_message.simple_polygons_with_bleed.estimated_area, broadcast_message.count_of_phones, broadcast_message.count_of_phones_likely, is_custom_broadcast, label)%}


  {% set areas_html %}
    <ul class="area-list">
      {% for area in broadcast_message.areas %}
        <li class="area-list-item area-list-item--unremoveable">
          {{area.name}}
        </li>
      {% endfor %}
    </ul>
  {% endset %}


  {% set conditional_areas %}
    {% if broadcast_message.areas %}
      {{( areas_html | safe ~ " " ~ map_html ) | safe}}
    {% endif%}
  {% endset %}


  {% set conditional_area_action_text %}
    {% if broadcast_message.areas %}
      Change
    {% else %}
      Add areas
    {% endif%}
  {% endset %}

  {% set conditional_area_action_link %}
    {% if broadcast_message.areas %}
      {{url_for('.preview_broadcast_areas', service_id=current_service.id, broadcast_message_id=broadcast_message.id)}}
    {% else%}
      {{url_for(
        ".choose_broadcast_library",
        service_id=current_service.id,
        broadcast_message_id=broadcast_message.id,
      )}}
    {% endif%}
  {% endset %}

  {{ govukSummaryList({
    'rows': [
      {
        'key': {
          'text': "Reference"
        },
        'value': {
          'text': broadcast_message.reference
        },
        'actions': {
          'items': [
            {
              'href': url_for('.write_new_broadcast', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
              'text': "Change",
              'visuallyHiddenText': "reference"
            }
          ]
        }
      },
      {
        'key': {
          'text': "Alert message"
        },
        'value': {
          'html': broadcast_message.template
        },
        'actions': {
          'items': [
            {
              'href': url_for('.write_new_broadcast', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
              'text': "Change",
              'visuallyHiddenText': "message"
            }
          ]
        }
      },
      {
        'key': {
          'text': "Area"
        },
        'value': {
          'html': conditional_areas
        },
        'actions': {
          'items': [
            {
              'href': conditional_area_action_link,
              'text': conditional_area_action_text,
              'visuallyHiddenText': "areas"
            }
          ]
        }
      },
    ]
  }) }}

  {% call form_wrapper() %}
    {{ page_footer('Submit for approval') }}
  {% endcall %}

{% endblock %}
