{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/electoral-ward-descriptor.html" import electoral_ward_descriptor %}

{% set page_title %}
  {% if message_type == "broadcast" %}
    Confirm the area for the alert
  {% elif message_type == "templates" %}
    Confirm the area for the template
  {% endif %}
{% endset %}

{% block service_page_title %}
  {{page_title}}
{% endblock %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-javascripts.html" %}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% if message.areas %}
  {% set area_names = message.areas | map(attribute='name') | list %}
  {% if area_names | length == 1 %}
    {% set label = "Map of the United Kingdom, showing the area for " ~ area_names[0] %}
  {% else %}
    {% set label = "Map of the United Kingdom, showing the areas for "
      ~ area_names[:-1] | join(', ')
      ~ " and " ~ area_names[-1]
    %}
  {% endif %}
{% else %}
  {% set label = "Map of the United Kingdom, showing no areas" %}
{% endif %}

{% block maincolumn_content %}

  {{ page_header(page_title) }}

  {% if message.areas %}
    <div>
      <p class="govuk-!-margin-right-2 area-list">Area: </p>
      <ul class="area-list">
        {% for area in message.areas %}
          <li class="area-list-item">
            {% if area.geography_type == "flood_warning_areas" %}
              {{area.geographic_id}}: {{area.name}}
            {% else %}
              {{ electoral_ward_descriptor(area) }}
            {% endif %}
            <a class="area-list-item-remove govuk-button" data-module="govuk-button" role="button" href="{{ url_for('.remove_area', service_id=current_service.id, message_id=message.id, area_slug=area.id or None, message_type=message_type) }}">
              <svg id="area-list-item-remove__icon" width="11" height="11" viewbox="0 0 10 10" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <g transform="rotate(45),translate(1, -6)">
                  <line stroke-width="1.75" id="svg_1" y2="0" x2="6" y1="12" x1="6" stroke="currentColor" fill="none"/>
                  <line stroke-width="1.75" id="svg_3" y2="6" x2="0" y1="6" x1="12" stroke="currentColor" fill="none"/>
                </g>
              </svg>
              <span class="govuk-visually-hidden">Remove {{ area.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      {{ govukButton({
        "element": "a",
        "text": "Add another area",
        "href": url_for('.choose_library', service_id=current_service.id, message_id=message.id, message_type=message_type),
        "classes": "govuk-button--secondary govuk-!-margin-bottom-5"
      }) }}
    </div>

    {{ map(message.estimated_area, message.estimated_area_with_bleed, message.count_of_phones, label) }}

    {% if message_type == "broadcast" %}
      {{ govukButton({
        "element": "a",
        "text": "Save and continue",
        "name": "continue",
        "href": redirect_url,
        "classes": "govuk-button"
      }) }}
    {% elif message_type == "templates" %}
      {{ govukButton({
        "element": "a",
        "text": "Save and continue",
        "name": "continue",
        "href": url_for('.edit_template', service_id=current_service.id, template_id=message.id),
        "classes": "govuk-button"
      }) }}
    {% endif %}

  {% else %}
    <p class="govuk-body">
      {{ govukButton({
        "element": "a",
        "text": "Add broadcast areas",
        "href": url_for('.choose_library', service_id=current_service.id, message_id=message.id, message_type=message_type),
        "classes": "govuk-button--secondary"
      }) }}
    </p>
  {% endif %}

{% endblock %}
