{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radio_select %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block service_page_title %}
  Preview alert
{% endblock %}

{# {% block backLink %}
  {% if custom_broadcast %}
    {% if 'postcode' in broadcast_message.areas[0].name %}
      {{ govukBackLink({ "href": url_for('.choose_broadcast_area', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug='postcodes') }) }}
    {% elif 'latitude' in broadcast_message.areas[0].name%}
      {{ govukBackLink({ "href": url_for('.search_coordinates', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug='coordinates', coordinate_type='latitude_longitude') }) }}
    {% elif 'easting' in broadcast_message.areas[0].name%}
      {{ govukBackLink({ "href": url_for('.search_coordinates', service_id=current_service.id, broadcast_message_id=broadcast_message.id, library_slug='coordinates', coordinate_type='easting_northing') }) }}
    {% endif %}
  {% else %}
    {{ govukBackLink({ "href": url_for('.preview_broadcast_areas', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }) }}
  {% endif %}
{% endblock %} #}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('.choose_broadcast_duration', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Preview alert") }}

  {{ broadcast_message.template|string }}

  <div class="govuk-!-margin-bottom-3">
    <p class="govuk-!-margin-right-2 area-list">Area: </p>
    <ul class="area-list">
      {% for area in broadcast_message.areas %}
        <li class="area-list-item area-list-item--unremoveable">
          {{area.name}}
        </li>
      {% endfor %}
    </ul>
    <p class="govuk-!-margin-right-2 duration-preview">
      <b class="govuk-!-font-weight-bold">Duration:</b> {{ broadcast_message.duration|format_seconds_duration_as_time }}
    </p>
  </div>

  {% call form_wrapper() %}
    {{ page_footer('Submit for approval') }}
  {% endcall %}

{% endblock %}
