{% extends "withnav_template.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radio_select %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "components/alert-summary-list.html" import alertSummaryList %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-javascripts.html" %}
  {% include "views/broadcast/partials/enlarged-map-javascripts.html" %}
{% endblock %}

{% block service_page_title %}
  Preview alert
{% endblock %}

{% block backLink %}
  {% if back_link %}
    {{ govukBackLink({ "href": back_link }) }}
  {% else %}
    {{ govukBackLink({ "href": url_for('.choose_broadcast_duration', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header("Preview alert") }}

  {{alertSummaryList(current_user, current_service.id, broadcast_message, areas, broadcast_message.simple_polygons_with_bleed.estimated_area, broadcast_message.count_of_phones, broadcast_message.count_of_phones_likely, is_custom_broadcast)}}

  {% call form_wrapper() %}
    {% if current_user.has_permissions('create_broadcasts', restrict_admin_usage=True) and broadcast_message.areas and broadcast_message.content and broadcast_message.reference and broadcast_message.status == "draft" %}
      {{ page_footer('Submit for approval') }}
    {% endif %}
  {% endcall %}

  {% if broadcast_message.status == "draft" and broadcast_message_version_count > 1 %}
  <div class="bottom-gutter-1-2">
    {% if last_updated_time %}
      <h2 class="heading-small bottom-gutter-2-3 heading-inline">
        Last edited
        <time class="timeago" datetime="{{ last_updated_time }}">
          {{ last_updated_time|format_delta }}
        </time>
      </h2>

      &emsp;
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.view_broadcast_versions', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }}">See previous versions</a>
      &emsp;
      <br/>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
