{% extends "without_sidenav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/page-footer.html" import page_footer %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "components/input-custom-error.html" import inputWithCustomError %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% block per_page_title %}
  {% if bleed %}
    Chosen alert area – {{ current_service.name }}
  {% else %}
    {{ page_title }} – {{ current_service.name }}
  {% endif %}
{% endblock %}

{% block service_page_title %}
{{ page_title }}
{% endblock %}

{% block extra_stylesheets %}
{% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
{% include "views/broadcast/partials/custom-area-map-javascripts.html" %}
{% endblock %}

{% block backLink %}
{{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% if coordinate_type == 'latitude_longitude' %}
  {% set label1 = 'Latitude' %}
  {% set label2 = 'Longitude' %}
  {% set error = "The latitude and longitude must be within the UK" %}
{% elif coordinate_type == 'easting_northing' %}
  {% set label1 = 'Eastings' %}
  {% set label2 = 'Northings' %}
  {% set error = "The easting and northing must be within the UK" %}
{% endif %}

{% set radius = form.radius.value %}

{% if form.errors %}
  {% set errors = [] %}
  {% set errors_to_display = [] %}
  {% for field_name, error_list in form.errors.items() %}
    {% if field_name %}
      {% if error_list[0] == error %}
        {% if error_list[0] not in errors_to_display %}
          {% set _ = errors.append({"href": "#" + form[field_name].id, "text": error_list[0]}) %}
          {% do errors_to_display.append(error_list[0]) %}
        {% endif %}
      {% else %}
        {% set _ = errors.append({"href": "#" + form[field_name].id, "text": error_list[0]}) %}
        {% do errors_to_display.append(error_list[0]) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if bleed %}
  {% set method = 'radius' %}
{% elif not bleed and marker %}
  {% set method = 'search' %}
{% endif %}


{% block maincolumn_content %}
  {% if bleed %}
    {{ page_header('Chosen alert area', classes="heading-no-margin-top") }}
  {% else %}
    {{ page_header(page_title, classes="heading-no-margin-top") }}
  {% endif %}

{% if form.errors %}
  {{ govukErrorSummary({
    "titleText": "There is a problem",
    "errorList": errors
  }) }}
{% endif %}

{% call form_wrapper() %}
<div class="mapping-form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="mapping-form-group">
    <div class="govuk-form-group">
      {{inputWithCustomError(form.first_coordinate, label1, 'Enter a valid value')}}
    </div>
    <div class="mapping-margin-left govuk-form-group">
      {{inputWithCustomError(form.second_coordinate, label2, 'Enter a valid value')}}
    </div>
    <div class="mapping-margin-left govuk-form-group">
      {{ govukButton({
      "classes": "notify-simple-search-form__button govuk-button--secondary search-postcode-button",
      "html": "Search",
      "name": 'search_btn',
      "value": True
      }) }}
    </div>
  </div>

  <div class="mapping-form-group">
    <div>
      {{inputWithCustomError(form.radius, "Radius", 'Enter a valid value')}}
    </div>
    <div class="mapping-margin-left govuk-form-group">
      {{ govukButton({
      "classes": "notify-simple-search-form__button govuk-button--secondary add-radius-button",
      "html": "Add radius",
      "name": 'radius_btn',
      "value": True
      }) }}
    </div>
  </div>
  <div class="preview-button govuk-form-group">
    {% if bleed %}
      {{ govukButton({
      "text": "Continue",
      "classes": "govuk-button notify-simple-search-form__button search-postcode-button",
      "name": "preview",
      "value": True
      }) }}
    {% else %}
      {{ govukButton({
      "text": "Continue",
      "classes": "govuk-button notify-simple-search-form__button search-postcode-button",
      "disabled": true,
      "name": "preview"
      }) }}
    {% endif %}
  </div>
</div>
{% endcall %}

<ul class="area-list"></ul>
  {{ map(estimated_area, estimated_area_with_bleed, count_of_phones, count_of_phones_likely, True, "Map of the United
  Kingdom, showing no areas") }}
</div>
{% endblock %}
