{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/page-footer.html" import page_footer %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "components/error-summary.html" import errorSummary %}

{% block per_page_title %}
  {{ page_title }} – {{ current_service.name }}
{% endblock %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-postcodes.html" %}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% if coordinate_type == 'decimal' %}
  {% set label1 = 'Latitude' %}
  {% set label2 = 'Longitude' %}
{% elif coordinate_type == 'cartesian' %}
  {% set label1 = 'Eastings' %}
  {% set label2 = 'Northings' %}
{% endif %}

{% set radius = form.radius.value %}

{% if bleed %}
  {% set method = 'radius' %}
{% else %}
  {% set method = 'search' %}
{% endif %}

{% block maincolumn_content %}
  <div class="{% if show_error %}form-group-error{% endif %}">
    {{ page_header("Choose alert area") }}

    {% if not show_error %}
      {{ errorSummary(form) }}
    {% else %}
      <p id="content-error" class="govuk-error-message" data-notify-module="track-error" data-error-type="Coordinates entered are not within UK. Enter valid coordinates" data-error-label="area">
        <span class="govuk-visually-hidden">Error:</span> Coordinates entered are not within UK. Enter valid coordinates
      </p>
    {% endif %}
    {% call form_wrapper() %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div style="display: flex; align-items:center; justify-content:space-between">
          {{ form.first_coordinate(param_extensions={
            "label": {"text": label1},
          }) }}
          {{ form.second_coordinate(param_extensions={
            "label": {"text": label2},
          }) }}
          {{ govukButton({
            "classes": "notify-simple-search-form__button govuk-button--secondary margin",
            "html": "Search",
            "name": 'search_btn',
          }) }}
          {{ form.radius}}
          {{ govukButton({
            "classes": "notify-simple-search-form__button govuk-button--secondary margin",
            "html": "Add radius",
            "name": 'radius_btn',
          }) }}
          <div>
            {% if bleed %}
              {{ govukButton({
                "text": "Preview alert",
                "classes": "govuk-button search-postcode-margin-left notify-simple-search-form__button",
                "name": "preview",
                "value": True
              }) }}
            {% else %}
              {{ govukButton({
                "text": "Preview alert",
                "classes": "govuk-button search-postcode-margin-left",
                "disabled": true,
                "name": "preview"
              }) }}
            {% endif %}
          </div>
        </div>
    {% endcall %}
  </div>

  <ul class="area-list"></ul>
  {{ map(estimated_area, estimated_area_with_bleed, count_of_phones, count_of_phones_likely, True, "Map of the United Kingdom, showing no areas") }}
{% endblock %}
