{% extends "withoutnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/form.html" import form_wrapper %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "views/broadcast/macros/area-map.html" import map %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "components/error-summary.html" import errorSummary %}

{% block per_page_title %}
  {{ page_title }} – {{ current_service.name }}
{% endblock %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block extra_stylesheets %}
  {% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
  {% include "views/broadcast/partials/area-map-postcodes.html" %}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% set radius = form.radius.value %}
{% set postcode = form.postcode.value %}

{% if bleed %}
  {% set method = 'radius' %}
{% elif not bleed and centroid %}
  {% set method = 'search' %}
{% endif %}

{% block maincolumn_content %}
  {{ page_header('Choose alert area', classes="heading-no-margin-top") }}
  {{ errorSummary(form) }}
  {% call form_wrapper() %}
    <div class="search-postcode-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      {{ form.postcode }}
      <div class="mapping-margin-left">
        {{ govukButton({
          "classes": "notify-simple-search-form__button search-postcode-button govuk-button--secondary",
          "html": "Search <span class=\"govuk-visually-hidden\">for areas</span>",
          "name": "search_btn",
        }) }}
      </div>
      <div class="mapping-margin-left">
        {{ form.radius}}
      </div>
      <div class="mapping-margin-left">
        {{ govukButton({
          "classes": "notify-simple-search-form__button search-postcode-button govuk-button--secondary",
          "html": "Add radius",
          "name": "radius_btn",
        }) }}
      </div>
      <div>
        {% if bleed %}
          {{ govukButton({
            "text": "Preview alert",
            "classes": "govuk-button mapping-margin-left notify-simple-search-form__button",
            "name": "preview",
            "value": True
          }) }}
        {% else %}
          {{ govukButton({
            "text": "Preview alert",
            "classes": "govuk-button mapping-margin-left",
            "disabled": true,
            "name": "preview"
          }) }}
        {% endif %}
      </div>
    </div>
  {% endcall %}

  <ul class="area-list"></ul>

  {{ map(estimated_area, estimated_area_with_bleed, count_of_phones, count_of_phones_likely, True, "Map of the United Kingdom, showing no areas") }}

{% endblock %}
