{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "components/form.html" import form_wrapper %}
{% from "components/banner.html" import banner %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "components/alert-summary-list.html" import alertSummaryList %}
{% from "views/broadcast/partials/broadcast-details.html" import broadcast_details %}


{% extends "withnav_template.html" %}

{% block extra_stylesheets %}
{% include "views/broadcast/partials/area-map-stylesheets.html" %}
{% endblock %}

{% block extra_javascripts %}
{% include "views/broadcast/partials/area-map-javascripts.html" %}
{% include "views/broadcast/partials/enlarged-map-javascripts.html" %}
{% endblock %}

{% block service_page_title %}
  {% if broadcast_message.status == 'pending-approval' %}
    {% if broadcast_message.created_by_id and broadcast_message.created_by_id == current_user.id
      and current_user.has_permissions('create_broadcasts', 'approve_broadcasts', restrict_admin_usage=True) %}
      {{ broadcast_message.template.name }} is waiting for approval
    {% elif current_user.has_permissions('approve_broadcasts', restrict_admin_usage=True) %}
      {% if broadcast_message.created_by %}
        {{ broadcast_message.created_by }}
      {% else %}
        An API call
      {% endif %}
      wants to broadcast
      {{ broadcast_message.template.name }}
    {% else %}
      This alert is waiting for approval
    {% endif %}
  {% else %}
    {{ broadcast_message.template.name }}
  {% endif %}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}

  {% if broadcast_message.status == 'pending-approval' %}
    {{ page_header(broadcast_message.template.name) }}
    {% if broadcast_message.created_by_id and broadcast_message.created_by_id == current_user.id
      and current_user.has_permissions('create_broadcasts', 'approve_broadcasts', restrict_admin_usage=True) %}
      {% if current_service.live and broadcast_message.submitted_by_id != current_user.id %}
        <div class="banner govuk-!-margin-bottom-6">
          {% call form_wrapper(id='approve',class="govuk-!-margin-bottom-5") %}
            <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-3">
              {% if broadcast_message.created_by %}
                {{ broadcast_message.created_by }}
              {% else %}
                An API call
              {% endif %}
              wants to broadcast
              {{ broadcast_message.template.name }}
            </h1>
            {{ form.confirm(param_extensions={
              'formGroup': {
                'classes': 'govuk-!-margin-bottom-4'
              }
            }) }}
            {{ page_footer(
              "Start broadcasting now"
            ) }}
          {% endcall %}
          {% set rejection_reason_details %}
            <div class="govuk-!-margin-top-3">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Give a reason for rejecting the alert</h1>
              {% call form_wrapper(id='reject',action=url_for('main.reject_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id)) %}
                {{ rejection_form.rejection_reason }}
                {{ page_footer(
                  'Reject alert',
                  destructive=True,
                ) }}
              {% endcall %}
            </div>
          {% endset %}
          <div class="govuk-!-margin-top-1">
            {{ govukDetails({
              "classes": "govuk-!-margin-bottom-0",
              "summaryText": "Reject this alert",
              "html": rejection_reason_details,
              "open": rejection_form.rejection_reason.errors | convert_to_boolean,
              "id": "rejection_reason_details"
            }) }}
          </div>
        </div>
      {% else %}
        <div class="banner govuk-!-margin-bottom-6">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-3">
            {{ broadcast_message.template.name }} is waiting for approval
          </h1>
          {% if current_service.live %}
            <p class="govuk-body">
              You need another member of your team to approve your alert.
            </p>
            {{ page_footer(
              delete_link=url_for('main.discard_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
              delete_link_text='Discard this alert'
            ) }}
          {% elif current_user.has_permissions('approve_broadcasts', restrict_admin_usage=True) %}
            <p class="govuk-body govuk-!-margin-bottom-3">
              When you use a live account you’ll need another member of
              your team to approve your alert.
            </p>
            {% set approve_details %}
              <div class="govuk-!-margin-bottom-5">
                {% call form_wrapper(id='approve') %}
                <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-3">
                  Because you’re in training mode you can approve
                  your own alerts, to see how it works.
                </p>
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-3">
                  No real alerts will be broadcast to anyone’s phone.
                </p>
                {{ page_footer(
                  "Start broadcasting now"
                ) }}
                {% endcall %}
              </div>
            {% endset %}

            {% set rejection_reason_details %}
              <div class="govuk-!-margin-top-3">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Give a reason for rejecting the alert</h1>
                {% call form_wrapper(id='reject', action=url_for('main.reject_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id)) %}
                  {{ rejection_form.rejection_reason }}
                  {{ page_footer(
                    'Reject alert',
                    destructive=True,
                  ) }}
                {% endcall %}
              </div>
            {% endset %}

            {{ govukDetails({
              "classes": "govuk-!-margin-bottom-0",
              "summaryText": "Approve your own alert",
              "html": approve_details
            }) }}
            <div class="govuk-!-margin-top-1">
              {{ govukDetails({
                "classes": "govuk-!-margin-bottom-0",
                "summaryText": "Reject this alert",
                "html": rejection_reason_details,
                "open": rejection_form.rejection_reason.errors | convert_to_boolean,
                "id": "rejection_reason_details"
              }) }}
            </div>
          {% elif current_user.has_permissions('create_broadcasts', restrict_admin_usage=True) %}
            <p class="govuk-body">
              You need another member of your team to approve this alert.
            </p>
            <p class="govuk-body">
              This service is in training mode. No real alerts will be sent.
            </p>
            {{ page_footer(
              delete_link=url_for('main.discard_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
              delete_link_text='Discard this alert'
            ) }}
          {% endif %}
        </div>
      {% endif %}
    {% elif current_service.live and broadcast_message.created_by_id and broadcast_message.created_by_id != current_user.id
      and current_user.has_permissions('create_broadcasts', 'approve_broadcasts', restrict_admin_usage=True)
      and broadcast_message.submitted_by_id == current_user.id %}
      <div class="banner govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-3">
          {{ broadcast_message.template.name }} is waiting for approval
        </h1>
        <p class="govuk-body">
          You need another member of your team to approve your alert.
        </p>
        {{ page_footer(
          delete_link=url_for('main.discard_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
          delete_link_text='Discard this alert'
        ) }}
      </div>
    {% elif current_user.has_permissions('approve_broadcasts', restrict_admin_usage=True) %}
      <div class="banner govuk-!-margin-bottom-6">
        {% call form_wrapper(id='approve',class="govuk-!-margin-bottom-5") %}
          <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-3">
            {% if broadcast_message.created_by %}
              {{ broadcast_message.created_by }}
            {% else %}
              An API call
            {% endif %}
            wants to broadcast
            {{ broadcast_message.template.name }}
          </h1>
          {% if current_service.live %}
            {{ form.confirm(param_extensions={
              'formGroup': {
                'classes': 'govuk-!-margin-bottom-4'
              }
            }) }}
          {% else %}
            <p class="govuk-body govuk-!-margin-bottom-3">
              No phones will get this alert.
            </p>
          {% endif %}
          {{ page_footer(
            "Start broadcasting now"
          ) }}
        {% endcall %}
        {% set rejection_reason_details %}
          <div class="govuk-!-margin-top-3">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Give a reason for rejecting the alert</h1>
            {% call form_wrapper(id='reject',action=url_for('main.reject_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id)) %}
              {{ rejection_form.rejection_reason }}
              {{ page_footer(
                'Reject alert',
                destructive=True,
              ) }}
            {% endcall %}
          </div>
        {% endset %}
        <div class="govuk-!-margin-top-1">
          {{ govukDetails({
            "classes": "govuk-!-margin-bottom-0",
            "summaryText": "Reject this alert",
            "html": rejection_reason_details,
            "open": rejection_form.rejection_reason.errors | convert_to_boolean,
            "id": "rejection_reason_details"
          }) }}
        </div>
      </div>
    {% elif current_user.has_permissions('create_broadcasts', restrict_admin_usage=True) %}
      <div class="banner govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-3">This alert is waiting for approval</h1>
        <p class="govuk-body">
          Another member of your team needs to approve this alert.
        </p>
        {% if not current_service.live %}
          <p class="govuk-body">
            This service is in training mode. No real alerts will be sent.
          </p>
        {% endif %}
        {{ page_footer(
          delete_link=url_for('main.discard_broadcast_message', service_id=current_service.id, broadcast_message_id=broadcast_message.id),
          delete_link_text='Reject this alert'
          ) }}
      </div>
    {% else %}
      <div class="banner govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-3">This alert is waiting for approval</h1>
        <p class="govuk-body">
          You don’t have permission to approve alerts.
        </p>
      </div>
    {% endif %}
  {% elif broadcast_message.status == 'draft' %}
    {{ page_header(broadcast_message.template.name) }}
  {% else %}
    {{ page_header(broadcast_message.template.name) }}

    {{broadcast_details(broadcast_message, current_service)}}
  {% endif %}

  {{alertSummaryList(current_user, current_service.id, broadcast_message, areas, broadcast_message.simple_polygons_with_bleed.estimated_area, broadcast_message.count_of_phones, broadcast_message.count_of_phones_likely, is_custom_broadcast)}}

{% if broadcast_message.status != 'pending-approval' %}
  <p class="govuk-body govuk-!-margin-bottom-3">
    {% if broadcast_message.created_by %}
      Created by {{ broadcast_message.created_by }}
    {%- else %}
      Created from an API call
    {%- endif %}
    {%- if broadcast_message.submitted_by -%}
    , submitted by {{ broadcast_message.submitted_by }}
    {%- endif %}
    {%- if broadcast_message.approved_by %}
      and approved by {{ broadcast_message.approved_by }}
    {%- endif %}
    {{- '.' }}
  </p>
{% endif %}

{% if broadcast_message.status == 'pending-approval' %}
  <p class="govuk-body govuk-!-margin-bottom-3">
    {% if broadcast_message.created_by %}
      Created by {{ broadcast_message.created_by }}
    {%- else %}
      Created from an API call
    {%- endif %}
    {%- if broadcast_message.submitted_by %}
    and submitted by {{ broadcast_message.submitted_by }}
    {%- endif %}
    {{- '.' }}
  </p>
{% endif %}

{% if broadcast_message.status == 'broadcasting' %}
  <p class="govuk-body">
    Broadcasting stops {{ broadcast_message.finishes_at|format_datetime_human }}.
  </p>
{% elif broadcast_message.status == 'cancelled' %}
  <p class="govuk-body">
    {% if broadcast_message.cancelled_by_id %}
      Stopped by {{ broadcast_message.cancelled_by }}
    {%- else %}
      Stopped by an API call
    {%- endif %}
    {{ broadcast_message.cancelled_at|format_datetime_human }}.
  </p>
{% elif broadcast_message.status == 'completed' %}
  <p class="govuk-body">
    Finished broadcasting {{ broadcast_message.finishes_at|format_datetime_human }}.
  </p>
{% endif %}

{% if current_user.has_permissions('create_broadcasts', restrict_admin_usage=True) and broadcast_message.areas and broadcast_message.content and broadcast_message.reference and broadcast_message.duration and broadcast_message.status == "draft" %}
  {{ govukButton({
    "element": "a",
    "text": "Submit for approval",
    "href":url_for(
      ".submit_broadcast_message",
      service_id=current_service.id,
      broadcast_message_id=broadcast_message.id,
    ),
    "classes": "govuk-button"
  }) }}
{% endif %}

{% if broadcast_message.status == "draft" and broadcast_message_version_count > 1 %}
  <div class="bottom-gutter-1-2">
    {% if last_updated_time %}
    <h2 class="heading-small bottom-gutter-2-3 heading-inline">
      Last edited
      <time class="timeago" datetime="{{ last_updated_time }}">
        {{ last_updated_time|format_delta }}
      </time>
    </h2>

      &emsp;
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.view_broadcast_versions', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }}">See previous versions</a>
      &emsp;
      <br/>
    {% endif %}
  </div>
{% endif %}

{% endblock %}
