{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "components/error-summary.html" import errorSummary %}
{% from "components/banner.html" import banner %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block service_page_title %}
  {% if broadcast_message %}
    Edit alert
  {% else %}
    Write new alert
  {% endif %}
{% endblock %}

{% set html %}
  <p class="govuk-body">The content you are trying to change is identical to the alert content.
    No change will be made.
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.view_current_broadcast', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }}">
      Return to alert
    </a>
  </p>
{% endset %}


{% block backLink %}
  {% if broadcast_message.id %}
    {{ govukBackLink({ "href": url_for('.view_current_broadcast', service_id=current_service.id, broadcast_message_id=broadcast_message.id) }) }}
  {% else %}
    {{ govukBackLink({ "href": url_for('.new_broadcast', service_id=current_service.id) }) }}
  {% endif %}
{% endblock %}

{% block maincolumn_content %}
  {% call form_wrapper() %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    {% if changes %}
      {% for field, data in changes.items() %}
        <div class="banner-dangerous file-list" aria-live="polite" tabindex="-1">
        <div>{{data['updated_by']}} has made changes to the alert {{field}}.</div>
        <div>Would you like to overwrite their change?</div>
        <div class="banner-footer-group">
          {{ govukButton({
            "text": "Yes, overwrite",
            "name": "overwrite-"+field,
            "classes": "govuk-button govuk-!-margin-top-2",
          }) }}
          {{ govukButton({
            "text": "No, keep this change",
            "name": "keep-"+field,
            "classes": "govuk-button--secondary govuk-!-margin-top-2",
          }) }}
        </div>
        </div>
      {% endfor %}
    {% endif %}

    {% if content_matches %}
      {{govukNotificationBanner({
        "html": html,
        "role": "alert"
      })}}
    {% endif %}


    {{ errorSummary(form) }}

    {% if broadcast_message %}
      {{ page_header('Edit alert')}}
    {% else %}
      {{ page_header('Write new alert')}}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{form.initial_name()}}
        {{form.initial_content()}}
        {{form.overwrite_name()}}
        {{form.overwrite_content()}}
        {{ form.reference(param_extensions={
          "classes": "govuk-!-width-full",
          "hint": {"text": "Your recipients will not see this"}
        }) }}
        {{ textbox(
          form.content,
          highlight_placeholders=False,
          autosize=True,
          width='1-1',
          rows=5,
          extra_form_group_classes='govuk-!-margin-bottom-2'
        ) }}
      </div>
      <div class="govuk-grid-column-full">
        <div class="template-content-count">
          <div data-notify-module="update-status" data-target="template_content" data-updates-url="{{ url_for('.count_content_length', service_id=current_service.id, template_type='broadcast', field='template_content') }}" aria-live="polite">
            &nbsp;
          </div>
        </div>
        {% if not changes %}
          {{ page_footer('Save and continue', button_name='continue') }}
        {% endif %}
      </div>
    </div>
  {% endcall %}

{% endblock %}
