{% set cspNonce = content_nonce %}

{% extends "govuk_frontend_jinja/template.html"%}
{% from "components/banner.html" import banner %}
{%- from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner -%}
{%- from "partials/notifications/inactivityLogoutDialog.html" import inactivityLogoutDialog -%}
{%- from "partials/notifications/inactivityWarningDialog.html" import inactivityWarningDialog -%}
{%- from "partials/notifications/sessionExpiryDialog.html" import sessionExpiryDialog -%}
{% from "components/cookie-banner.html" import cookie_banner %}
{% from "components/page-title-prefix.html" import page_title_prefix %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ asset_url('images/favicon.ico') }}" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_url('images/govuk-icon-mask.svg') }}" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
{% endblock %}

{% block head %}
  {%- for font in font_paths %}
  <link rel="preload" href="{{ asset_url(font, with_querystring_hash=False) }}" as="font" type="font/woff2" crossorigin>
  {%- endfor %}
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <link rel="stylesheet" media="print" href="{{ asset_url('stylesheets/print.css') }}" />
  {% block extra_stylesheets %}
  {% endblock %}
  <style nonce="{{ cspNonce }}">
      .govuk-header__container { border-color: {{header_colour}} }
  </style>
  {% if g.hide_from_search_engines %}
    <meta name="robots" content="noindex" />
  {% endif %}
  <meta name="google-site-verification" content="niWnSqImOWz6mVQTYqNb5tFK8HaKSB4b3ED4Z9gtUQ0" />
  {% block meta_format_detection %}
    <meta name="format-detection" content="telephone=no">
  {% endblock %}
  {% block meta %}
  {% endblock %}
{% endblock %}

{% block pageTitle %}
  {{page_title_prefix()}}{% block per_page_title %}{% endblock %} – GOV.UK Emergency Alerts
{% endblock %}

{% block bodyStart %}
  {% block extra_javascripts_before_body %}
  {% endblock %}

  {% block cookie_message %}
    {{ cookie_banner() }}
  {% endblock %}
{% endblock %}

{% block header %}
  {% if current_user.is_authenticated %}
    {{ inactivityLogoutDialog(session.get('session_end_utc')) }}
    {{ inactivityWarningDialog() }}
    {{ sessionExpiryDialog(request.path) }}
    {% if current_user.platform_admin_capable %}
      {% set navigation = [
        {
          "href": url_for('main.support'),
          "text": "Support",
          "active": header_navigation.is_selected('support')
        },
        {
          "href": url_for('main.user_profile'),
          "text": "Profile",
          "active": header_navigation.is_selected('user-profile')
        },
        {
          "href": url_for('main.platform_admin_search'),
          "html": 'Platform admin' + (govukTag ({
              'text': 'Elevated',
              'classes': 'govuk-!-margin-left-2 elevated-tag'
            }) if current_user.platform_admin else ''),
          "active": header_navigation.is_selected('platform-admin')
        },
        {
          "href": url_for('main.sign_out'),
          "text": "Sign out"
        }
      ] %}
    {% else %}
      {% set navigation = [
        {
          "href": url_for('main.support'),
          "text": "Support",
          "active": header_navigation.is_selected('support')
        },
        {
          "href": url_for('main.user_profile'),
          "text": "Profile",
          "active": header_navigation.is_selected('user-profile')
        },
        {
          "href": url_for('main.sign_out'),
          "text": "Sign out"
        }
      ] %}
    {% endif %}
  {% else %}
    {% set navigation = [
      {
        "href": url_for('main.support'),
        "text": "Support",
        "active": header_navigation.is_selected('support')
      },
      {
        "href": url_for('main.sign_in'),
        "text": "Sign in",
        "active": header_navigation.is_selected('sign-in')
      }
    ] %}
  {% endif %}

  {{ govukHeader({
    "homepageUrl": url_for('main.show_accounts_or_dashboard'),
    "productName": "Emergency Alerts",
    "navigation": navigation,
    "navigationClasses": "govuk-header__navigation--end",
    "assetsPath": asset_path + "images"
  }) }}
  {% if live_service_notice %}
    <div class="govuk-width-container">
      {{ govukNotificationBanner({
        'titleText': "IMPORTANT",
        'html': live_service_notice
      }) }}
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
  {% if current_user.is_authenticated %}
    {% set meta_items = [
      {
        "href": url_for("main.privacy"),
        "text": "Privacy"
      },
      {
        "href": url_for("main.accessibility_statement"),
        "text": "Accessibility statement"
      },
      {
        "href": url_for("main.terms"),
        "text": "Terms of use"
      },
      {
        "href": url_for("main.cookies"),
        "text": "Cookies"
      },
      {
        "href": url_for('main.security'),
        "text": "Security"
      }
    ] %}
  {% else %}
    {% set meta_items = [
      {
        "href": url_for("main.privacy"),
        "text": "Privacy"
      },
      {
        "href": url_for("main.accessibility_statement"),
        "text": "Accessibility statement"
      },
      {
        "href": url_for("main.terms"),
        "text": "Terms of use"
      },
      {
        "href": url_for("main.cookies"),
        "text": "Cookies"
      },
    ] %}
  {% endif %}

  {% set meta_suffix = 'Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-footer__link">Government Digital Service</a>' %}

  {{ govukFooter({
    "classes": "js-footer",
    "navigation": navigation,
    "meta": {
      "items": meta_items,
      "html": meta_suffix
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block extra_javascripts %}
  {% endblock %}
  <!--[if gt IE 8]><!-->
  <script nonce="{{ cspNonce }}">

    let logged_in_at = "{{session.get('session_start_utc')}}"; // Created for inactivity and expiry dialogs
    let current_user_id = "{{session.get('user_id')}}";
    let inactivity_mins;
    let inactivity_warning_mins;
    let permanent_session_lifetime;
    let expiry_warning_mins;
    let inactivity_warning_duration;
    const functional_test_user_id = "{{config.get('FUNCTIONAL_TEST_USER_ID')}}";


    if ((current_user_id != 'None') && (current_user_id != functional_test_user_id)) {
      permanent_session_lifetime = "{{config.get('PERMANENT_SESSION_LIFETIME')}}";
      inactivity_mins = "{{config.get('INACTIVITY_MINS')}}";
      inactivity_warning_mins = "{{config.get('INACTIVITY_WARNING_MINS')}}";
      expiry_warning_mins = "{{config.get('EXPIRY_WARNING_MINS')}}";
      inactivity_warning_duration = "{{config.get('INACTIVITY_WARNING_DURATION')}}";
    } else if ((current_user_id != 'None') && (current_user_id == functional_test_user_id)) {
      permanent_session_lifetime = "{{config.get('FUNCTIONAL_TEST_PERMANENT_SESSION_LIFETIME')}}";
      inactivity_mins = "{{config.get('FUNCTIONAL_TEST_INACTIVITY_MINS')}}";
      inactivity_warning_mins = "{{config.get('FUNCTIONAL_TEST_INACTIVITY_WARNING_MINS')}}";
      expiry_warning_mins = "{{config.get('FUNCTIONAL_TEST_EXPIRY_WARNING_MINS')}}";
      inactivity_warning_duration = "{{config.get('FUNCTIONAL_TEST_INACTIVITY_WARNING_DURATION')}}";
    }

  </script>
  <script nonce="{{ cspNonce }}" type="text/javascript" src="{{ asset_url('javascripts/all.js') }}"></script>
  <!--<![endif]-->
{% endblock %}
